@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #bebebe;

  color: #323232;
  font: normal 100%/1.3 georgia,serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.3rem;

  font-family: "PT Sans Narrow",sans-serif;
}

ul, ol, p {
  margin: 0 0 1.3rem;
}

a {
  color: #000;
}

.masthead {
  background: url("../img/stripes.svg") left top / 1px 184px repeat-x #bebebe;

  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 150px;

  background-color: #bd027d;
}

.logo-img {
  display: block;
  width: 100%;
}

.topnav {
  margin: 0;
  overflow: hidden;
  padding: 10px;

  background-color: #bd027d;

  list-style-type: none;
}

.topnav li:first-child {
  float: left;
}

.topnav li:last-child {
  float: right;
}

.topnav a,
.btn {
  display: inline-block;
  padding: .5em .8em;

  background-color: #bd027d;
  border: 2px solid #960062;
  border-radius: 6px;

  color: #eccee2;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: "PT Sans Narrow",sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.topnav a:hover,
.btn:hover {
  background-color: #960062;
  color: #fff;
}

.nav-btn {
  overflow: hidden;
  width: 46px;

  background: url("../img/nav-icon.svg") left top / 42px auto no-repeat transparent;

  text-indent: 250%;
  white-space: nowrap;
}

.nav-btn:hover {
  background-position: left -42px;
}

.main {
  display: block;
  padding: 1.3rem 10px 0;
}

.intro {
  font-size: 1.125rem;
}

section {
  padding: 1.3rem 0;

  border-bottom: 2px solid #afafaf;
  border-top: 2px solid #afafaf;
}

section:last-child {
  border-bottom: 0;
}

.img-boxes {
  margin: 0 -5px;
  overflow: hidden;
  padding: 0;
  width: calc(100% + 10px);

  list-style-type: none;
}

.img-boxes > li {
  float: left;
  margin: 0 5px 10px;
  width: calc(50% - 10px);
}

.img-box {
  margin: 0;
  padding: 0;
  position: relative;

  background-color: #ccc;
  border: 2px solid #afafaf;
  border-radius: 6px;
}

.img-box-img {
  display: block;
  width: 100%;
}

.img-box-text {
  bottom: .8rem;
  padding: .5rem;
  position: absolute;
  width: 100%;

  background-color: rgba(50,50,50,.1);

  text-align: center;
}

.btn {
  display: block;
  margin: 1.3rem 0;

  text-align: center;
  text-transform: none;
}

.btn strong {
  display: block;

  color: #fff;
}

.powers {
  padding-left: 50px;
}

.powers dt {
  position: relative;
}

.powers dd {
  margin: 0 0 1.3rem;
}

.powers img {
  left: -50px;
  position: absolute;
  width: 45px;
}

.nav {
  margin: 0;
  padding: 0;

  border-top: 2px solid #960062;
}

.nav li {

}

.nav a {
  display: block;
  padding: .5em .8em;
  position: relative;

  background-color: #bd027d;
  border-bottom: 2px solid #960062;

  color: #eccee2;
  font-family: "PT Sans Narrow",sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.nav a:hover {
  background-color: #960062;
  color: #fff;
}

.nav-icon {
  height: 12px;
  position: absolute;
  right: 10px;
  top: calc(50% - 6px);
  width: 12px;

  background: url("../img/triangle.svg") left top / 12px auto no-repeat;
}

.nav a:hover .nav-icon {
  background-position: left bottom;
}

.footer {
  overflow: hidden;
  padding: 10px;

  background-color: #afafaf;

  font-size: .75rem;
}

.copyright {
  float: left;
  margin-bottom: 0;
}

.terms {
  float: right;
}

.super-img {
  position: relative;
}

.super-amoeba {
  display: block;
  max-width: 15em;
  width: 70%;
}

.super-power {
  bottom: 0;
  max-width: 12em;
  position: absolute;
  right: 10px;
  width: 60%;
}
